body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f6f6f6;
    color: #060401;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #a8a7a7;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 0;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    height: 50px;
}

.title h1 {
    margin: 0;
    font-size: 1.5em;
    color: #333;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 5px 10px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ea6231;
}

main {
    padding: 20px 0;
    text-align: center;
}

footer {
    background-color: #fff;
    border-top: 1px solid #747171;
    padding: 10px 0;
    text-align: center;
    font-size: 0.9em;
}
 